[Unit]
Description=Gitea (Git with a cup of tea)
After=network.target

[Service]
Type=simple
User={{ gitea_user }}
Environment="GITEA_WORK_DIR={{ gitea_home }}"
ExecStart=/usr/local/bin/gitea web -c {{ gitea_home }}/data/config.ini
Restart=always

[Install]
WantedBy=multi-user.target
